@model IEnumerable<ProjectThread.Models.User>

@{
    ViewData["Title"] = "Users List";
}

<h1>Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td>@user.City</td>
            </tr>
        }
    </tbody>
</table>
